@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(0, 0%, 8%);
  padding: 20px;
}
.card {
  background: hsl(0, 0%, 12%);
  max-width: 100%;
  width: 400px;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 25px 15px;
}
.images {
  width: 100px;
  height: 100px;
}
.images img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.intro {
  text-align: center;
  margin: 20px auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.intro h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.intro h2 {
  font-size: 1rem;
  color: hsl(318, 94%, 57%);
}
.intro div p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: hsla(0, 0%, 82%, 0.897);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.links {
  margin-top: 5px;
}
.links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links ul li {
  width: 300px;
  max-width: 100%;
  height: 40px;
  text-align: center;
  background: hsl(0, 0%, 20%);
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.links ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links ul li:hover a {
  color: hsl(0, 0%, 8%);
  font-weight: 600;
  background: hsl(318, 94%, 57%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: whitesmoke;
  margin: 25px auto;
  font-family: "Inter", sans-serif;
}
.attribution a {
  color: hsl(342, 45%, 44%);
}
@media screen and (max-width: 450px) {
  .images {
    width: 85px;
    height: 85px;
  }
  .intro h1 {
    font-size: 1.3rem;
  }
  .intro h2 {
    font-size: 0.9rem;
  }
  .intro div p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  .links ul li {
    width: 270px;
  }
}
@media screen and (max-width: 335px) {
  .links ul li {
    width: 250px;
  }
}
